// -*- mode: closure-template-html; fill-column: 130 -*-

{namespace tpl}


{template root}
  <!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">{\n}
  <html xml:lang="ru-ru" xmlns="http://www.w3.org/1999/xhtml" lang="ru-ru">{\n}
    <head>{\n}
      <link rel="stylesheet" href="/default.css" type="text/css" />{\n}
      <link rel="stylesheet" href="/unique.css" type="text/css" />{\n}
      <link rel="stylesheet" href="/content.css" type="text/css" />{\n}
      <link rel="stylesheet" href="/general.css" type="text/css" />{\n}
      <link rel="stylesheet" href="/templateBanner.css" type="text/css" />{\n}
      <script type="text/javascript" src="/general.js"></script>{\n}
      <meta http-equiv="content-type" content="text/html; charset=UTF-8" />{\n}
      <meta name="robots" content="index, follow" />{\n}
      <title>{$headtitle}</title>
      <link href="/index.php?format=feed&amp;type=rss" rel="alternate" type="application/rss+xml" title="RSS 2.0" />{\n}
      <link href="/index.php?format=feed&amp;type=atom" rel="alternate" type="application/atom+xml" title="Atom 1.0" />{\n}
      <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />{\n}
      <link rel="stylesheet" href="/jextcurrency.css" type="text/css" />{\n}
      <script type="text/javascript" src="/jquery-1.js"></script>{\n}
      <script type="text/javascript" src="/jquery-ui-1.js"></script>{\n}
      <script type="text/javascript" src="/video.js"></script>{\n}
      <script type="text/javascript" src="/mootools.js"></script>{\n}
      <script type="text/javascript" src="/caption.js"></script>{\n}
      <script type="text/javascript" src="/jquery-1.6.2.min.js"></script>{\n}
      <link rel="stylesheet" type="text/css" media="screen" href="/jquery-ui-1.8.1.custom.css" />{\n}
      <link rel="stylesheet" type="text/css" media="screen" href="/ui.jqgrid.css" />{\n}
      <script src="/grid.locale-en.js" type="text/javascript"></script>{\n}
      <script src="/jquery.jqGrid.min.js" type="text/javascript"></script>{\n}
      <script src="/my.js" type="text/javascript"></script>{\n}
      <style>{\n}
        html, body {sp}{lb}{sp}  margin: 0;   padding: 0;    font-size: 75%;  {sp}{rb}{sp} {\n}
      </style>{\n}
    </head>{\n}
    <body>{\n}

      <div class="main" id="main">{\n}
        <div class="bannerTop">{\n}
          <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"{\n}
                  codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"{\n}
                  height="90"{\n}
                  width="970"{\n}
                  border="0">{\n}
			<param name="movie"{\n}
                   value="http://gdetorg.ru/images/banners/fce0fe9db7e465113e59b2c5225e70f4.swf" />{\n}
            <embed src="/fce0fe9db7e465113e59b2c5225e70f4.swf"{\n}
                   loop="false"{\n}
                   pluginspage="http://www.macromedia.com/go/get/flashplayer"{\n}
                   type="application/x-shockwave-flash"{\n}
                   height="90"{\n}
                   width="970" />{\n}
		  </object>{\n}
        </div>{\n}

        <div class="header">{\n}

          <div class="syslinks">{\n}
            <span>{\n}
              <a href="/"{\n}
                 title="ГдеСтройТорг.ру"{\n}
                 onclick="setThisHomePage(); return false;">{\n}
                <img src="i_files/make_startup.png" />{\n}
              </a>{\n}
              <a href="/"{\n}
                 title="ГдеСтройТорг.ру"{\n}
                 onclick="try{lb}window.external.AddFavorite(this.href, this.title); return false;{rb}{sp} catch(e) {lb}{rb}"{\n}
                 rel="sidebar">{\n}
                <img src="/add_favorite.png" alt="добавить в избранное" />{\n}
              </a>{\n}
              <a href="#">{\n}
                <img src="/rss.png" />{\n}
              </a>{\n}
            </span>{\n}
          </div><!-- syslinks -->{\n}

          <div class="headerMainBlock">{\n}

            <div class="headerLogoBox">{\n}
              <a href="/">{\n}
                <img src="/logo.png" alt="" />{\n}
              </a>{\n}
              <span>{\n}
                Единый строительный портал Cеверо-Запада{\n}
              </span>{\n}
            </div><!-- headerLogoBox -->{\n}

            <div class="headerHorzMenuBlock">{\n}
              <div>{\n}
                <table width="100%" border="0" cellpadding="0" cellspacing="1">{\n}
                  <tbody>{\n}
                    <tr>{\n}
                      <td nowrap="nowrap">{\n}
                        <div class="mainlevel">{\n}
                          <div class="horzmenu_item_left"></div>{\n}
                          <div class="horzmenu_item_center">{\n}
                            <a href="#privateoffice">Личный кабинет</a>{\n}
                          </div>{\n}
                          <div class="horzmenu_item_right"></div>{\n}
                          <div style="clear: both;"></div>{\n}
                        </div>{\n}
                        <div class="mainlevel">{\n}
                          <div class="horzmenu_item_left"></div>{\n}
                          <div class="horzmenu_item_center">{\n}
                            <a href="#newtender">Объявить тендер</a>{\n}
                          </div>{\n}
                          <div class="horzmenu_item_right"></div>{\n}
                          <div style="clear: both;"></div>{\n}
                        </div>{\n}
                        <div class="mainlevel">{\n}
                          <div class="horzmenu_item_left">{\n}
                          </div>{\n}
                          <div class="horzmenu_item_center">{\n}
                            <a href="#ratings">Рейтинги</a>{\n}
                          </div>{\n}
                          <div class="horzmenu_item_right"></div>{\n}
                          <div style="clear: both;"></div>{\n}
                        </div>{\n}
                        <div class="mainlevel">{\n}
                          <div class="horzmenu_item_left">{\n}
                          </div>{\n}
                          <div class="horzmenu_item_center">{\n}
                            <a href="#bonuses">Акции</a>{\n}
                          </div>{\n}
                          <div class="horzmenu_item_right"></div>{\n}
                          <div style="clear: both;"></div>{\n}
                        </div>{\n}
                        <div class="mainlevel">{\n}
                          <div class="horzmenu_item_left"></div>{\n}
                          <div class="horzmenu_item_center">{\n}
                            <a href="#services">Услуги портала</a>{\n}
                          </div>{\n}
                          <div class="horzmenu_item_right"></div>{\n}
                          <div style="clear: both;"></div>{\n}
                        </div>{\n}
                        <div class="mainlevel">{\n}
                          <div class="horzmenu_item_left"></div>{\n}
                          <div class="horzmenu_item_center">{\n}
                            <a href="http://gdetorg.ru/bulletinboard">Доска объявлений</a>{\n}
                          </div>{\n}
                          <div class="horzmenu_item_right"></div>{\n}
                          <div style="clear: both;"></div>{\n}
                        </div>{\n}
                      </td>{\n}
                    </tr>{\n}
                  </tbody>{\n}
                </table>{\n}
              </div>{\n}
              <div class="headerHorzMenuBlockLine"></div>{\n}
            </div><!-- headerHorzMenuBlock -->{\n}
            <div style="clear: both;"></div>{\n}

          </div> <!-- headerMainBlock -->{\n}

        </div><!-- header -->{\n}

        <div class="body">{\n}
            {$personal |noAutoescape}
          {foreach $popup in $popups}
            {call popup data="$popup" /}
          {/foreach}

          <div class="sidebarR">{\n}

            <div class="ktostroitru">{\n}
              <a href="http://www.ktostroit.ru/">{\n}
                <img src="/ktostroit.png" alt="КтоСтроит.ру" />{\n}
              </a>{\n}
            </div>{\n}

            <div class="currencies">{\n}
              <div class="sidebarBox">{\n}

                <div class="sidebarBoxBG">{\n}
                  <div class="sidebarBoxTop"></div>{\n}
                  <div class="sidebarBoxTitle">Курсы валют</div>{\n}
                  <div class="sidebarBoxContent">{\n}
                    <div class="jextcurrency"{\n}
                         style="width: 100%;">{\n}
                      <div class="title">{\n}
                        <h3>Курсы валют на 27.07.2011</h3>{\n}
                      </div>{\n}
                      <div class="rates">{\n}
                        <div class="item">{\n}
                          <div class="item1">{\n}
                            <img title="USD" alt="USD" src="/USD.gif" />{\n}
                            <div class="scale">1</div>{\n}
                            USD{\n}
                          </div>{\n}
                          <div class="item2">{\n}
                            27,546{\n}
                            <span class="negative" title="вчера: 27,741">{\n}
                              -0,195{\n}
                            </span>{\n}
                          </div>{\n}
                          <div style="clear: both;"></div>{\n}
                        </div>{\n}
                        <div class="item">{\n}
                          <div class="item1">{\n}
                            <img title="EUR" alt="EUR" src="/EUR.gif" />{\n}
                            <div class="scale">1</div>{\n}
                            EUR{\n}
                          </div>{\n}
                          <div class="item2">{\n}
                            39,939{\n}
                            <span class="positive" title="вчера: 39,837">{\n}
                              0,102{\n}
                            </span>{\n}
                          </div>{\n}
                          <div style="clear: both;"></div>{\n}
                        </div>{\n}
                      </div>{\n}
                      <div class="notes">{\n}
                        Источник:{\n}
                        <strong>{\n}
                          <a id="notes" href="http://www.cbr.ru/" target="_blank">{\n}
                            ЦБ РФ{\n}
                          </a>{\n}
                        </strong>{\n}
                      </div>{\n}
                      <div style="clear: both;"></div>{\n}
                    </div><!-- jextcurrency -->{\n}
                  </div><!-- sidebarBoxContent -->{\n}
                  <div class="sidebarBoxBottom"></div>{\n}
                </div><!-- sidebarBoxBG -->{\n}
              </div><!-- sidebarBox -->{\n}
            </div><!-- currencies -->{\n}

            <div class="bannerRight1">{\n}
              <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"{\n}
                      codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"{\n}
                      height="285"{\n}
                      width="220"{\n}
                      border="0">{\n}
				<param name="movie" value="http://gdetorg.ru/images/banners/e6d280f9e4de573def2237540e47ec7b.swf" />{\n}
                <embed src="/e6d280f9e4de573def2237540e47ec7b.swf"{\n}
                       loop="false"{\n}
                       pluginspage="http://www.macromedia.com/go/get/flashplayer"{\n}
                       type="application/x-shockwave-flash"{\n}
                       height="285"{\n}
                       width="220" />{\n}
			  </object>{\n}
            </div><!-- bannerRight1 -->{\n}

          </div><!-- sidebarR -->{\n}

          <div class="sidebarL">{\n}
            <div class="sidebarBox menu">{\n}
              <ul class="menu">{\n}
                <li id="current" class="active item1" style="display:none">{\n}
                  <a href="http://gdetorg.ru/">{\n}
                    <span>Главная</span>{\n}
                  </a>{\n}
                </li>{\n}
                {foreach $elt in $navpoints}
                  {call navelt data="$elt" /}
                {/foreach}
              </ul>{\n}
            </div><!-- sidebarBox menu -->{\n}

            <div class="sidebarBox search">{\n}

              <form action="index.php" method="post">{\n}
                <div class="search_box">{\n}
                  <input name="searchword"{\n}
                         maxlength="20"{\n}
                         class="search_input"{\n}
                         type="text" />{\n}
                  <div class="button"{\n}
                       onclick="jQuery(this).parent('div').parent('form').submit()">{\n}
                    <div class="left"></div>{\n}
                    <div class="text">Поиск</div>{\n}
                    <div class="right"></div>{\n}
                  </div>{\n}
                </div>{\n}
                <input name="task" value="search" type="hidden" />{\n}
                <input name="option" value="com_search" type="hidden" />{\n}
                <input name="Itemid" value="1" type="hidden" />{\n}
              </form>{\n}

              <p>{\n}
                <a href="http://gdetorg.ru/component/content/article/27">{\n}
                  <img src="i_files/sending.jpg" alt="Рассылка" border="0" />{\n}
                </a>{\n}
                <a href="#">{\n}
                  <img src="i_files/suppliers_map.png" alt="Карта поставщиков" border="0" />{\n}
                </a>{\n}
              </p>{\n}

            </div><!-- sidebarBox search -->{\n}


            <div class="sidebarBox banners">{\n}
              <div class="sidebarBox">{\n}
                <div class="sidebarBoxBG">{\n}
                  <div class="sidebarBoxTop"></div>{\n}
                  <div class="sidebarBoxContent contentOpinion bannerContent">{\n}
                    <div class="mr3">{\n}
                      <a href="http://www.expertiza.spb.ru/" target="_blank">{\n}
                        <img src="/expertiza.jpg" alt="Баннер" />{\n}
                      </a>{\n}
                    </div>{\n}
                    <div>{\n}
                      <a href="http://www.gov.spb.ru/gov/admin/otrasl/komstroy" target="_blank">{\n}
                        <img src="/komstroy.jpg" alt="Баннер" />{\n}
                      </a>{\n}
                    </div>{\n}
                    <div class="mr3">{\n}
                      <a href="http://www.stroysoyuz.ru/" target="_blank">{\n}
                        <img src="/stroysoyuz.jpg" alt="Баннер" />{\n}
                      </a>{\n}
                    </div>{\n}
                    <div>{\n}
                      <a href="http://www.spbexp.ru/" target="_blank">{\n}
                        <img src="/spbexp.jpg" alt="Баннер" />{\n}
                      </a>{\n}
                    </div>{\n}
                    <div class="mr3">{\n}
                      <a href="http://www.stateinvest.spb.ru/" target="_blank">{\n}
                        <img src="/stateinvest.jpg" alt="Баннер" />{\n}
                      </a>{\n}
                    </div>{\n}
                    <div>{\n}
                      <a href="http://www.kgainfo.spb.ru/" target="_blank">{\n}
                        <img src="/kgainfo.jpg" alt="Баннер" />{\n}
                      </a>{\n}
                    </div>{\n}
                    <div class="mr3">{\n}
                      <a href="http://www.guion.spb.ru/" target="_blank">{\n}
                        <img src="/guion.jpg" alt="Баннер" />{\n}
                      </a>{\n}
                    </div>{\n}
                    <div>{\n}
                      <a href="http://www.uksrest.ru/" target="_blank">{\n}
                        <img src="/uksrest.jpg" alt="Баннер" />{\n}
                      </a>{\n}
                    </div>{\n}
                  </div><!-- sidebarBoxContent contentOpinion bannerContent -->{\n}
                  <div class="sidebarBoxBottom"></div>{\n}
                </div><!-- sidebarBoxBG -->{\n}
              </div><!-- sidebarBox -->{\n}
            </div><!-- sidebarBox banners -->{\n}


            <div class="sidebarBox support">{\n}
              <span>{\n}
                <a href="http://gdetorg.ru/index.php">{\n}
                  <img src="i_files/sitemap.png" alt="Карта портала" border="0" />{\n}
                </a>{\n}
                <a href="http://gdetorg.ru/2011-03-16-14-57-19/3">{\n}
                  <img src="i_files/help.png" alt="Помощь" border="0" />{\n}
                </a>{\n}
                <a href="http://gdetorg.ru/index.php">{\n}
                  <img src="i_files/support.png" alt="Тех.поддержка" border="0" />{\n}
                </a>{\n}
              </span>{\n}
            </div><!-- sidebarBox support -->{\n}

          </div><!-- sidebarL -->{\n}


          <div class="content">{\n}

            <div class="bannerCenter1">{\n}
              <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"{\n}
                      codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"{\n}
                      height="90"{\n}
                      width="470"{\n}
                      border="0">{\n}
				<param name="movie" value="http://gdetorg.ru/images/banners/383f5b31bf2ccc2d5d0d622052d245b0.swf" />{\n}
                <embed src="/383f5b31bf2ccc2d5d0d622052d245b0.swf"{\n}
                       loop="false"{\n}
                       pluginspage="http://www.macromedia.com/go/get/flashplayer"{\n}
                       type="application/x-shockwave-flash"{\n}
                       height="90"{\n}
                       width="470" />{\n}
			  </object>{\n}
            </div>{\n}

            {foreach $contentBlock in $content}
              {call contentBlock data="$contentBlock" /}
            {/foreach}

            <div class="componentheading">{\n}
	          gdetorg.ru</div>{\n}
            <table class="blog" cellpadding="0" cellspacing="0">{\n}
              <tbody>{\n}
                <tr>{\n}
	              <td valign="top">{\n}
				  </td>{\n}
                </tr>{\n}
              </tbody>{\n}
            </table>{\n}

          </div><!-- content -->{\n}
        </div><!-- body -->{\n}

        <div class="footer">{\n}
          <span>{\n}
            <p>{\n}
              <a href="http://gdetorg.ru/index.php">Карта сайта</a>{\n}
              <a href="http://gdetorg.ru/2011-03-16-14-57-19/3">Помощь</a>{\n}
              <a href="http://gdetorg.ru/index.php">Тех.поддержка</a>{\n}
              <a href="http://gdetorg.ru/2011-03-16-14-57-19">О портале</a>{\n}
              <a href="http://gdetorg.ru/index.php">Подписка</a>{\n}
              <a href="http://gdetorg.ru/2011-03-16-14-57-19/2">Реклама</a>{\n}
            </p>{\n}
          </span>{\n}
        </div><!-- footer -->{\n}
      </div><!-- main -->{\n}
    </body>{\n}
  </html>{\n}
{/template}


{template loginform}
  <div class="headerPersonalBox italic personEnter">{\n}
    <a class="icoLink showAuth"{\n}
       href="http://gdetorg.ru/component/user/login?backurl=%2Findex.php">{\n}
      <img src="/ico_key.png" alt="" />{\n}
    </a>{\n}
    <a class="dashedLink showAuth" href="#"{\n}
       onclick="ShowHide('popupLogin'); return false;">Вход</a>{\n}
    <span>|</span>{\n}
    <a href="#"{\n}
       onclick="ShowHide('trest'); return false;">{\n}
      Регистрация{\n}
    </a>{\n}
  </div>{\n}
{/template}


{template logoutform}
  <div class="headerPersonalBox italic personEnter">{\n}
    <div style="margin-top: -30px; margin-left: -230px; position:{\n}
                absolute; z-index: 1000; text-align: right; width:{\n}
                400px;"> </div>{\n}
    Добро пожаловать, {$user}{\n}
    <span>|</span>{\n}
    <form method="post">{\n}
      <input type="hidden" name="LOGOUT" value="Выход" />{\n}
      <div class="button" onclick="jQuery(this).parent('form').submit()">{\n}
        <div class="left"></div>{\n}
        <div class="text">Выход</div>{\n}
        <div class="right"></div>{\n}
      </div>{\n}
    </form>{\n}
  </div>{\n}
{/template}


{template contentBlock}
  <div class="contentBox">{\n}
    <div class="contentBoxBG">{\n}
      <div class="contentBoxTop"></div>{\n}
      <div class="contentBoxTitle">{\n}
        <div class="pageTitle">{\n}
          {$title}
          <div class="contentBoxTitleBorder"></div>{\n}
        </div>{\n}
      </div>{\n}
      <div class="contentBoxContent ">{\n}
        {$content |noAutoescape}{\n}
      </div>{\n}
      <div class="contentBoxBottom"></div>{\n}
    </div><!-- contentBoxBG -->{\n}
  </div><!-- contentBox -->{\n}
{/template}


{template navelt}
  <div class="menuItem">{\n}
    <span class=""><a href="{$link}">{$title}</a></span>{\n}
  </div>{\n}
{/template}


{template fld}
  <table>{\n}
    <tr>{\n}
      <td width="250">{\n}
          <div style="width: 250px;">{\n}
            {$fldname}{\n}
          </div>{\n}
    </td>{\n}
    <td width="350">{\n}
      <div style="width: 350px;">{\n}
        {$fldcontent |noAutoescape}{\n}
      </div>{\n}
    </td>{\n}
  </tr>{\n}
  </table>{\n}
{/template}




{template strview}
  {$value |noAutoescape} <br />{\n}
{/template}


{template strupd}
  <input type="text" name="{$name}" value="{$value}" /> <br />{\n}
{/template}

{template selopt}
  <OPTION value="{$id}">{$name}</OPTION>{\n}
{/template}

{template selres}
  <SELECT name="{$name}" size="10">
    {foreach $option in $options}
      {call selopt data="$option" /}
    {/foreach}
  </SELECT>
{/template}

{template textupd}
  <textarea name="{$name}" rows="5" col="120" />{$value}</textarea> <br />{\n}
{/template}




{template pswdupd}
  <input type="password" name="{$name}" value="{$value}" /> <br />{\n}
{/template}


{template btn}
  <input type="hidden" name="{$name}" value="{$value}" />
  <div class="button" onclick="jQuery(this).parent('form').submit()">
    <div class="left"></div>
    <div class="text">#{$value}#</div>
    <div class="right"></div>
  </div>
{/template}

{template btnlin}
  <input type="hidden" name="{$name}" value="{$value}" />
  <div class="button" onclick="jQuery(this).parent('form').submit()">
    <div class="left"></div>
    <div class="text">[{$value}]</div>
    <div class="right"></div>
  </div>
{/template}


{template btncol}
  <form method="post">
    <input type="hidden" name="{$name}" value="{$value}" />
    <div class="button" onclick="jQuery(this).parent('form').submit()">
      <div class="left"></div>
      <div class="text">*{$value}*</div>
      <div class="right"></div>
    </div>
  </form>
{/template}



{template popbtn}
  <div class="button" onclick="ShowHide('{$popid}');">
    <div class="left"></div>
    <div class="text">%{$value}%</div>
    <div class="right"></div>
  </div>
{/template}

{template frmobj}
  <form method="post">
    {foreach $fld in $flds}
      {$fld |noAutoescape}
    {/foreach}
  </form>
{/template}

{template frmtbl}
  <table border="0" bgcolor="#DCDCDC" width="100%">
    {foreach $obj in $objs}
      <tr>
        {foreach $fld in $obj}
          <td bgcolor="#F1F1F1">
            <div style="padding: 0px 3px 0px 3px;">
              {$fld |noAutoescape}
            </div>
          </td>
        {/foreach}
      </tr>
    {/foreach}
  </table>
{/template}



{template popup}
  <div id="{$id}"{\n}
       class="popupBox"{\n}
       style="position: absolute; top: 0px; left: {$left}px; width: {$width}px;  display: none;{\n}
              background-color: yellow; border: 1px dotted red; z-index: 999999999; padding: 20px;">{\n}
    <div class="popupCancel">{\n}
      <a href="#popupCancel" onclick="ShowHide('{$id}')">{\n}
        <img alt="" src="/popupCancel.gif" />{\n}
      </a>{\n}
    </div>{\n}

    <div class="popupEnterLink">{\n}
      <a class="dashedLink italic" href="/registration/">{$title}</a>{\n}
    </div>{\n}

    <div class="popupCenter">{\n}
      {$content |noAutoescape}
    </div>{\n}
  </div>{\n}
{/template}

{template popuplogin}
  <form method="post">
    <span> <b>Логин</b> </span>
    <input type="text" value="" maxlength="50" name="LOGIN" style="width: 160px;" />
    <span> <b>Пароль</b> </span>
    <input type="password" maxlength="50" name="PASSWORD" style="width: 160px;" />
    <input type="submit" name="AUTH" value="Войти"
           style="background-color: #E0E0E0; width: 160px;" />
  </form>
{/template}


{template col}
<div style="border: 1px solid #7F9DB9; padding: 3px 5px 3px 5px;
            background-color: #F1F1F1; margin: 3px 0px 3px 0px;">
  <div style="padding: 3px 5px 3px 5px;"> {$title}</div>
  <div style="border: 1px solid #7F9DB9; padding: 3px 5px 3px 5px;
              background-color: #F1F1F1; background-color: #DCDCDC">
    {$content |noAutoescape}
  </div>
</div>
{/template}
